nav {
  padding: 0.825rem 0;
}
#first-block, #second-block, #third-block, #fourth-block {
  padding:4.5rem 0;
}
#carousel {
  background:#f8f8f8;
}
#first-block {
  background:#fff;
}
#second-block {
  background:#f8f8f8;
}
#third-block {
  background:#fff;
}
#fourth-block {
  background:#f8f8f8;
}
#fifth-block {
  background:#fff;
}
footer {
  background:#fff;
  padding:3.5rem 0;
}

#contact-form input {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#contact-form textarea {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.faint {
  opacity: 0.5;
}

.full-height {
  height: 300px;
}

.carousel-item {
  background: #f0f0f0;
  position: absolute;
  width: 50%;
  height: 300px;
  left: 25%;
  top: 100px;
  z-index: 2;
}
.carousel-item .l-6 {
  opacity: 1;
}
.carousel-item .product-desc {
  padding: 20px;
  padding-top: 50px;
}
.carousel-item .product-desc h3 {
  color: red;
}

@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
  nav {
    padding: 0;
  }
}